<settings>
  <url>http://141.22.32.186/openz-hipergate-synchronization/</url>
  <urlImportExtension>service/businessPartner/import/start</urlImportExtension>
  <validationAdress></validationAdress>
  <validationString>openz-hipergate-synchronization</validationString>
  <updateInterval>15</updateInterval>
</settings>
